body{
    background: rgb(238, 194, 194);
    font: italic 14pt Arial;
    color: rgb(252, 252, 252);
}


header{
    color: rgb(14, 14, 14);
    text-align: center;
font: normal 14pt Arial;

}


section{
    background: rgb(133, 81, 81);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin:auto;
    box-shadow: 5px 5px 5px rgb(132, 129, 129);
}

div {
    text-align: center;
    padding: 5px;
}

#foto{
    width: 50%;
    border-radius: 50%;
     
}

footer{
    color:white;
    text-align: center;
    font-style: bold;


}